.header {
  display: flex;
  padding: 10px 50px;
  border-bottom: 1px solid black;
}
.header__logo {
  max-width: 70px;
  transition: transform 0.6s ease-out;
  margin-right: 30px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.header__logo:hover {
  transform: scale(1.2);
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__border {
  padding: 10px;
  color: black;
  border-radius: 5px;
  font-weight: bold;
}
.header__border:hover {
  color: rgb(98, 215, 215);
  transition: 0.3s ease-out;
}
.header__border0,
.header__border1,
.header__border2,
.header__border3,
.header__border4,
.header__border5,
.header__border6,
.header__border7 {
  border-radius: 5px;
  color: rgb(98, 215, 215);
  padding: 10px;
  font-weight: bold;
}
