.home__carousel-div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.home__carousel-box {
  width: 500px;
  height: 500px;
}
.home__title-texte {
  padding: 20px;
  background-color: blanchedalmond;
}
