body {
  --def: #090e0c;
  --inv: #fff;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 0.05em;
}
.container {
  margin-left: 7%;
  margin-right: 7%;
}
img {
  max-width: 500px;
}
